SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/oficina_db
SPRING_DATASOURCE_USERNAME=oficina
SPRING_DATASOURCE_PASSWORD=oficina
APP_ADMIN_DEFAULT_USERNAME=admin
APP_ADMIN_DEFAULT_PASSWORD=admin123
APP_JWT_SECRET=awssecretpostech-oficina-fiap-2026
APP_JWT_EXPIRATION_MINUTES=120
